// Footer
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  color: var(--second-text-color);
  background-color: var(--footer-bg);
  padding: 14px;
  margin: 5rem 0.7rem 0.7rem 0.7rem;
  border-radius: 11px;
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-left: 1rem;
}
.footer2 {
  margin-right: 1rem;
}

@media screen and (max-width: 350px) {
  .footer {
    display: block;
    text-align: center;
  }

  .footer1 img {
    display: none;
  }

  .footer1 {
    margin-bottom: 0.4rem;
  }
}
