.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.postSearch {
  font-weight: 500;
  font-size: 1.5rem;
  width: min(43rem, 71vw);
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0 0.4rem 0 0.4rem;
  border: 4px solid var(--text-color);
  padding: 0 0.4rem 0 0.4rem;
  outline: none;
  transition: 0.2s;
}
