@import "styles/mixins.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  margin: 2rem 1rem 0 1rem;
  gap: 3rem;
}

/*
  TOP SECTION
*/

.heroIcon {
  width: min(20rem, 47vw);
  @include float-up;

  @media (prefers-color-scheme: light) {
    box-shadow: 0px 0px 12px 10px rgba(24, 55, 62, 0.03);
    border-radius: 1.3rem;
  }
}

.card {
  color: var(--second-text-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 13px;
  padding: 0 3rem 0 3rem;
  margin: 0 1rem;
  width: min(42rem, 90vw);
  word-wrap: break-word;
  padding-top: 3rem;
  box-shadow: var(--card-styles);
}

.gradient {
  background: linear-gradient(45deg, hsl(211, 100%, 63%), hsl(163, 100%, 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: 0.5px;
  text-align: center;
}

// period
.gradient > span {
  @media (max-width: 558px) {
    display: none;
  }
}

.text {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.text section {
  margin: 1rem 0 1rem 0;
}

/*
  BOTTOM SECTION
*/

.links {
  margin-top: 1.3rem;
}

.logo {
  width: 2.55rem;
  transition: 0.16s ease-in;
  border-radius: 0.6rem;

  &:hover {
    transform: translate(0px, -7px);
    transition: 0.14s ease-in;
  }
}

.desktop {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 2rem 0;
}

.mobile {
  color: var(--second-text-color);
  background: var(--bg-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid hsl(208, 33%, 29%);
  width: fit-content;
  margin: 0 auto 3rem auto;
  padding: 0.6rem 2rem;
  border-radius: 11px;

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile .show {
  visibility: visible;
  @include fade-in;
}

.mobile span {
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 1107px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
@media (min-width: 1107px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
