@mixin second-text {
  color: var(--second-text-color);
  transition: 0.15s ease-in;

  &:hover {
    color: var(--second-text-hover-color);
    transition: 0.15s ease-in;
  }
}

@mixin second-border {
  border: 2px solid var(--second-text-color);
  transition: 0.15s ease-in;

  &:hover {
    border: 2px solid var(--second-text-hover-color);
    transition: 0.15s ease-in;
  }
}

@mixin second-border-bottom {
  border-bottom: 2px solid var(--second-text-color);
  transition: 0.15s ease-in;

  &:hover {
    border-bottom: 2px solid var(--second-text-hover-color);
    transition: 0.15s ease-in;
  }
}

@mixin float-up {
  @keyframes float {
    from {
      position: relative;
      top: 15px;
      opacity: 0;
    }
    to {
      top: -15px;
      opacity: 1;
    }
  }

  animation: float 1.2s;
}

@mixin fade-in {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation: fade-in 1s;
}
