:root {
  // Light Mode
  --bg-color: hsl(208 13% 48%);
  --second-bg-color: hsl(186 100% 98%);

  --text-color: hsl(0 0% 0%);
  --text-hover-color: hsl(0 0% 30%);

  --second-text-color: hsl(0 0% 90%);
  --second-text-hover-color: hsl(0 0% 70%);

  --link-color: hsl(190 100% 50%);
  --link-hover-color: hsl(190 100% 43%);

  --footer-bg: hsl(208 13% 46%);
  --ham-nav-bg: hsl(208 13% 54%);
  --code-bg: hsl(205.7 22.1% 37.3%);

  // Dark Mode
  @media (prefers-color-scheme: dark) {
    --bg-color: hsl(212 20% 36%);
    --second-bg-color: hsl(0 0% 13%);

    --text-color: hsl(0 0% 100%);
    --text-hover-color: hsl(0 0% 70%);

    --second-text-color: hsl(0 0% 82%);
    --second-text-hover-color: hsl(0 0% 62%);

    --link-color: hsl(200 100% 50%);
    --link-hover-color: hsl(200 100% 43%);

    --footer-bg: hsl(211 27% 34%);
    --ham-nav-bg: hsl(212 21% 42%);
    --code-bg: hsl(206 60% 22%);
  }
}
